/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.white-stroked {
    color: white;
    border-color: rgba(255, 255, 255, 0.48);
}

.mat-stroked-button:not(.mat-button-disabled) {
    border-color: rgb(255 255 255 / 43%);
}